.btnSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.fab-new {
    bottom: 25px;
    position: fixed;
    right: 25px;
    z-index: 999;
}

.fab-delete {
    bottom: 25px;
    position: fixed;
    left: 25px;
    z-index: 999;
}